python 3.9.0 --- If you have installed another version of Python, please install the appropiate chromedriver.exe from 'https://sites.google.com/a/chromium.org/chromedriver/getting-started'
beautifulsoup4==4.6.0
selenium==3.14.0